<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center btn btn-danger btn-block active">TIME REMAINING: <span id="demo"></span></div>
        <script type="text/javascript">
          var countDownDate = new Date("<%= item.endDate%>").getTime();
          var countdownfunction = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("demo").innerHTML =
              days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
          
            if (distance < 0) {
              clearInterval(countdownfunction);
              document.getElementById("demo").innerHTML = "EXPIRED";
            }
          }, 1000);
        </script>
      </div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead">
          <%= item.name %>
        </p>
        <div class="list-group">
          <li class="list-group-item">Item Number:
            <%= item._id%>
          </li>
          <li class="list-group-item">Current Bid: <span id="pricePlus50"><%= item.price%></span> </li>      	  
          <li class="list-group-item">Highest Bidder: <%= item.highestBidder %> </li>
          <button class="btn btn-warning btn-block btn-lg" type="submit" name="bidName" action="/items/<%= item._id %>?_method=PUT" method="POST" onclick="return confirmBid()"/>BID</button>

          <script>
    function confirmBid()
    {
      var x = confirm("Are you sure you want to Bid?");
      if (x){
    var value = parseInt(document.getElementById('pricePlus50').innerText, 10);
    value = isNaN(value) ? 0 : value;
    value+=50;
    document.getElementById('pricePlus50').innerText = value;
          return true;
      }
      else {
        return false;
    }
}
</script>
<!--  <script>
$('#bid50').click(function() {
  var num = parseInt($('#pricePlus50').text());
  $('#pricePlus50').text(num+50);
});
</script> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="thumbnail">
          <img class="img-responsive" src="<%= item.image %>">
          <div class="caption-full">
            <p class="pull-right">PRICE: Php
              <%= item.price%>
            </p>
            <p>
              <%= item.created.toDateString() %> to
                <%= item.endDate.toDateString() %>
            </p>
            <p>DESCRIPTION modal:
              <%= item.description %>
            </p>
            <p>
              <em>Posted by: <%= item.author.name %></em>
            </p>
            <% if(currentUser && item.author.id.equals(currentUser._id)) { %>
              <a class="btn btn-warning btn-xs" href="/items/<%= item._id %>/edit">Edit</a>
              <form class="delete-form" action="/items/<%= item._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete</button>
              </form>
              <% } %>
          </div>
        </div>
        <div class="well">
          <form action="/items/<%= item._id %>" method="POST">
            <div><input class="form-control" type="text" placeholder="comment" name="comment[text]">
            </div>
            <div class="text-right">
              <button class="btn btn-success">SUBMIT</button>
            </div>
          </form>
          <hr>
          <% item.comments.forEach(function(comment){ %>
            <div class="row">
              <div class="col-md-12">
                <strong><%= comment.author.name %> <%= comment.author.lname %></strong>
                <span class="pull-right">10 days ago</span>
                <p id="editContent">
                  <%= comment.text %>
                </p>
                <form action="/items/<%= item._id %>?_method=PUT" method="POST">
                  <input type="text" id="edit" class="form-control" value="<%=comment.text%>" name="comment.text" hidden>
                  <button id="submit" type="submit" class="btn btn-xs btn-success">Submit</button>
                  <button id="cancel" type="reset" class="btn btn-xs">Cancel</button>
                </form>


                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                  <button class="btn btn-xs btn-warning" id="show">Edit</button>
                  <form class="delete-form" action="/items/<%= item._id%>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete" id="del">
                  </form>
                  <% } %>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>